<!-- snippets/form-login.liquid -->

<div id="LoginForm">
  {% form 'customer_login' %}

    <h1 class="title">Account Login</h1>

    {{ form.errors | default_errors }}

    <label for="CustomerEmail" class="clearfix">{{ 'form.email' | t }}</label>
    <input type="email" name="customer[email]" id="CustomerEmail" class="AutoFocus{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>

    {% if form.password_needed %}
      <label for="CustomerPassword" class="pswd clearfix">{{ 'account.password' | t }}</label>
      <a class="fgt-pswd" href="/account/login?view=recover">{{ 'account.forgot_password' | t }}</a>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" {% if form.errors contains 'password' %}class="error"{% endif %}>
    {% endif %}

    <input type="submit" class="wide" value="{{ 'account.sign_in' | t }}">
    <a class="btn primary-btn act-login">{{ 'account.sign_in' | t }}</a>

  {% endform %}
</div>
