<!-- /templates/list-collections.liquid -->

<style>
  .title-block {
    background: url({{ section.settings.collection-title-bg | img_url:'master' }});
    background-position: 50% 50%;
    background-size: cover;
  }
</style>
<section class="collection-section">
  <div class="title-block">
    <h1>Our Products</h1>
  </div>

  <div class="container l">
    <div class="crumbs {% if section.settings.crumb-position == 'left'%}crumb-left{% endif %}{% if section.settings.crumb-position == 'right'%}crumb-right{% endif %}">
      {% include 'theme-breadcrumbs' %}
    </div>

    <div class="collections-container">

      {% for collection in collections %}

        {% unless collection.handle == 'frontpage' %}

          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <div class="container l collection-group">
            <p class="h1 section-header__left">{{ collection_title }}</p>
            {% comment %}<a href="{{ collection.url }}" class="btn primary-btn" title="{{ collection.title }}">More {{ collection_title }} &rsaquo;</a>{% endcomment %}
          </div>

         
          <div class="row">
            {% for product in collection.products limit:4 %}
              {% assign column_width = 'column l4 m6 s12' %}
              {% include 'collection-product' %}
            {% endfor %}
          </div>
          

          {% unless forloop.last %}<hr>{% endunless %}

        {% endunless %}

      {% endfor %}
     
    </div>

  </div>
  
</section>

{% schema %}
{
  "name": "Collections Section",
  "settings": [
    {
      "type": "header",
      "content": "Collections"
    },
    {
      "type": "image_picker",
      "id": "collection-title-bg",
      "label": "Background for Title"
    },
    {
      "type": "radio",
      "id": "crumb-position",
      "label": "Breadcrumb Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ]
}
{% endschema %}