<style>
	.image {
		background: url({{ section.settings.feature_image | img_url:'master' }});
		background-position: 50% 50%;
		background-size: cover;
	}
</style>

<section class="about-us">
	<div class="container l">
		<div class="crumbs">
    	{% include 'theme-breadcrumbs' %}
  	</div>
  	<div class="about-block">
  		<h1 class="title">{{ section.settings.page-heading }}</h1>
  		{% if section.settings.feature_image %}
  			<div class="image">
  				<img class="logo-img" src="{{ section.settings.logo_img | img_url:'master' }}" alt="{{ section.settings.logo_img }}">
  			</div>
  		{% endif %}
  		<div class="body">
  			{{ page.content }}
  		</div>
  		{% if section.settings.enable_social_follow %}
	  		<div class="follow-us">
	  			<h4 class="social-share">{{ section.settings.social_title }}</h4>
			  	<ul class="social-icons">
			  		{% if section.settings.fb_follow != empty %}
			  			<li>
			  				<a href="https://www.facebook.com/{{ section.settings.fb_follow }}">
			  					{% include 'icon' with 'facebook' %}
			  				</a>
			  			</li>
			  		{% endif %}
			  		{% if section.settings.ig_follow != empty %}
			  			<li>
			  				<a href="https://www.instagram.com/{{ section.settings.ig_follow }}">
			  					{% include 'icon' with 'instagram' %}
			  				</a>
			  			</li>
			  		{% endif %}
			  		{% if section.settings.tw_follow != empty %}
			  			<li>
			  				<a href="https://www.twitter.com/{{ section.settings.tw_follow }}">
			  					{% include 'icon' with 'twitter' %}
			  				</a>
			  			</li>
			  		{% endif %}
			  		{% if section.settings.in_follow != empty %}
			  			<li>
			  				<a href="https://www.linkedin.com/in/{{ section.settings.in_follow }}">
			  					{% include 'icon' with 'linkedin' %}
			  				</a>
			  			</li>
			  		{% endif %}
			  		{% if section.settings.pin_follow != empty %}
			  			<li>
			  				<a href="https://www.pinterest.com/{{ section.settings.pin_follow }}">
			  					{% include 'icon' with 'pinterest' %}
			  				</a>
			  			</li>
			  		{% endif %}
			  	</ul>
	  		</div>
  		{% endif %}
  	</div>
	</div>
</section>

{% schema %}
{
	"name": "About Us",
	"class": "about-us-section",
	"settings": [
		{
			"type": "header",
			"content": "About Us"
		},
		{
			"type": "text",
			"id": "page-heading",
			"label": "Heading",
			"default": "About Pro Marine"
		},
		{
			"type": "image_picker",
			"id": "feature_image",
			"label": "Feature Image"
		},
		{
			"type": "image_picker",
			"id": "logo_img",
			"label": "Logo"
		},
		{
			"type": "checkbox",
			"id": "enable_social_follow",
			"label": "Enable Follow Us",
			"default": true
		},
		{
			"type": "text",
			"id": "social_title",
			"label": "Title",
			"default": "Follow Us"
		},
		{
			"type": "text",
			"id": "fb_follow",
			"label": "Facebook ID"
		},
		{
			"type": "text",
			"id": "ig_follow",
			"label": "Instagram ID"
		},
		{
			"type": "text",
			"id": "tw_follow",
			"label": "Twitter ID"
		},
		{
			"type": "text",
			"id": "in_follow",
			"label": "LinkedIn ID"
		},
		{
			"type": "text",
			"id": "pin_follow",
			"label": "Pinterest ID"
		}
	]
}
{% endschema %}