<style>
  .featured-tile {
    background: url({{ section.settings.featured_tile_background | img_url: 'master' }});
    background-position: 50% 50%;
    background-size: cover;
  }

  {% for block in section.blocks %}
  .secondary-tile.tile-{{forloop.index}} {
    background: url({{ block.settings.block_tile_background | img_url:'master' }});
    background-position: 50% 50%;
    background-size: cover;
  }

  .secondary-tile.tile-{{forloop.index}} .transparent-secondary-btn {
    border-bottom: 3px solid {{ block.settings.btn_border_bottom }}!important;
  }
  {% endfor %}

  .featured-tile .transparent-secondary-btn {
    border-bottom: 3px solid {{ section.settings.btn_border_bottom }}!important;
  }
</style>

<section class="shop-tiles">
  <div class="container l">
    <div class="row l-table m-table">

      <h3 class="mb-heading s-show">Shop by Usage</h3>

      {% capture featured_div %}
        <div class="column l8 m8 s12">
          <div class="featured-tile">
            <div class="content">
              <h1 class="heading">{{ section.settings.featured_tile_text }}</h1>
              {% if section.settings.featured_button_text %}
                <a href="{{ section.settings.featured_button_url }}" class="btn transparent-secondary-btn">{{ section.settings.featured_button_text }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endcapture %}

      {% if section.settings.feature_tile_layout == 'left' %}
        {{ featured_div }}
      {% endif %}

      <div class="column l4 m4 s12">
        <div class="secondary-tiles">
          {% for block in section.blocks %}
          {% assign settings = block.settings %}
          <div class="secondary-tile tile-{{forloop.index}}">
            <div class="content">
              <h3 class="heading">{{ settings.block_tile_text }}</h3>
              {% if settings.block_button_text %}
                <a href="{{ settings.block_button_url }}" class="btn transparent-secondary-btn">{{ settings.block_button_text }}</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      {% if section.settings.feature_tile_layout == 'right' %}
        {{ featured_div }}
      {% endif %}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Shop Tiles",
  "class": "shop-tiles-section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Featured Tile"
    },
    {
      "type": "radio",
      "id": "feature_tile_layout",
      "label": "Featured Tile Placement",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "featured_tile_background",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "featured_tile_text",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "featured_button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "featured_button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "btn_border_bottom",
      "label": "Button bottom border color"
    }
  ],
  "blocks": [
    {
      "type": "shop_tile",
      "name": "Shop Tile",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_tile_background",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "block_tile_text",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "block_button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "block_button_url",
          "label": "Button URL"
        },
        {
          "type": "color",
          "id": "btn_border_bottom",
          "label": "Button bottom border color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop Tiles",
      "category": "Shop Tiles",
      "blocks": [
        {
          "type": "shop_tile"
        },
        {
          "type": "shop_tile"
        },
        {
          "type": "shop_tile"
        }
      ]
    }
  ]
}
{% endschema %}
